<div class="card"
	 [ngStyle]="{'color': color, 'border': '1px solid ' + color}"
	 [ngClass]="{'highlight': isHighlighted}">
	<div *ngIf="status==='danger'"
		 class="supertitle">Please read:</div>
	<div class="title">{{title}}</div>
	<div class="body">{{body}}</div>
	    <input
    type="checkbox"
    [checked]="!buttonIsDisabled"
    (change)="buttonIsDisabled = !buttonIsDisabled"/><button (click)="handleToggleDevInfo()" [disabled]="buttonIsDisabled">Toggle Dev Info</button>
	<div [ngSwitch]="status"
		 class="devInfo"
		 *ngIf="showDevInfo">
		<hr />
		<span *ngSwitchCase="'danger'">This info-box warns a user.</span>
		<span *ngSwitchCase="'success'">Success is displayed when no action is required.</span>
		<span *ngSwitchDefault>Unknown status code: {{status}}</span>
	</div>
</div>